* {
	font-family: Verdana;
}

#image_container{
	margin-top: 30px;
	margin-left: 30px;
	float: left;
	padding: 10px;
}

#pll_image {
	width: 400px;
}

#score {
	padding: 10px;
	background-color: #EDEFF8;
	border-radius: 5px;
}

p {
	display: inline;
	font-size: 150%;
}

#p_win {
	color: #08D092;
}
#p_lose {
	color: #F65121;
}

.answer_btn {
	padding: 10px;
	margin: 3px;
	border-radius: 5px;
	color: white;
	width: 40px;
	height: 40px;
}

#cn_select {
	padding-bottom: 15px;
}

#gr1 {
	background-color: white;
	border: none;
	color: black;
}

#gr2 {
	background-color: #F65121;
	border: none;
	color: white;
}

#gr3{
	background-color: #08D092;
	border: none;
	color: white;
}

#gr4 {
	background-color: #6F64E9;
	border: none;
	color: white;
}

#gr1:hover {
	background-color: #847AEC;
	border: none;
	transition: 0.2s;
	color: white;
}

#gr2:hover {
	background-color: white;
	border: none;
	transition: 0.2s;
	color: black;
}

#gr3:hover{
	background-color: white;
	border: none;
	transition: 0.2s;
	color: black;
}

#gr4:hover {
	background-color: white;
	border: none;
	transition: 0.2s;
	color: black;
}

#timer_btn {
	padding: 10px;
	margin: 3px;
	border-radius: 5px;
	color: white;
	width: 100px;
	height: 40px;
	background-color: #08D092;
	border: none;
	color: white;
}

.info {
	padding: 25px;
}

#timer {
	float: left;
}
#answers {
	float: center;
	padding: 10px;
}
#pb {
	float: right;
}

#pb_cn {
	float: right;
}

.quiz_btn {
	padding: 10px;
}

#buttons {
	padding: 10px;

}

#colors {
	padding: 10px;
}

#options {
	padding: 10px;
	color: #50667B;
}

label {
	display: inline-block;
}

.right_panel {
	float: right;
	width: 700px;
	background-color: #EDEFF8;
	border-radius: 5px;
	margin-right: 120px;
	margin-top: 40px;
}

#y {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: yellow;
	display: inline-block;
}
#w {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: white;
	display: inline-block;
}
#r {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: red;
	display: inline-block;
}
#o {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: orange;
	display: inline-block;
}
#g {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: lime;
	display: inline-block;
}
#b {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: blue;
	display: inline-block;
}

#cn {
	width: 5px;
	border-radius: 2px;
	display: inline-block;
}

#cn1 {
	width: 9px;
	height: 9px;
	border-radius: 2px;
	background-color: yellow;
	margin: 1px;
}
#cn2 {
	width: 9px;
	height: 9px;
	border-radius: 2px;
	background-color: red;
	margin: 1px;
}

#cn3 {
	width: 9px;
	height: 9px;
	border-radius: 2px;
	background-color: lime;
	margin: 1px;
}

#cn4 {
	width: 9px;
	height: 9px;
	border-radius: 2px;
	background-color: blue;
	margin: 1px;
}


.extra_panel {
	float: right;
	width: 700px;
	background-color: #EDEFF8;
	border-radius: 5px;
	margin-right: 120px;
	margin-top: 10px;
}

#message {
	color: red;
	float: right;
	width: 700px;
	border-radius: 5px;
	margin-right: 120px;
	margin-top: 10px;
}

#wrong_cases {
	display: inline;
}

#wrong_cases img {
	padding-left: 100px;
	width: 200px;
}

#wrong_cases div {
	float: right;
	padding: 30px;
	padding-bottom: 40px;
	margin: 10px;
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 3px;
	color: #50667B;
}

#wrong_cases hr {
	background-color: white;
	color: white;
	border: none;
	height: 2px;
}
